body {
  background-color: #d9d9d9;
}

.navbar {
  /* justify-content: center; */
  padding-left: 200px;
  background-color: rgb(39, 39, 39);
}

.section {
  color: black;
  padding-left: 33px;
  padding-top: 8px;
  width: 100%;
}

.nav-link {
  color: #d9d9d9;
  margin-right: 30px;
}

.fas {
  color: #d9d9d9;
}

#carouselExampleCaptions {
  margin-bottom: 50px;
}

.card {
  justify-content: center;
  display: inline-block;
  flex-direction: row;
  width: 250px;
  margin: 9px;
}
